/* .bakground_color{background-color:black;} */

.log_form{margin-left:270px;}
.form_label{font-weight: bold;
            margin-right:320px;}
.form_label_1{font-weight: bold;
           margin-right:390px;}