.bg{background-color:darkcyan;}
.form{margin-left: 200px;}
.bg1{margin-left: 250px;}
.card{background-color:lightsalmon;}
.label{margin-right:340px; font-weight: bolder;}
.label_1{margin-right: 310px;font-weight: bolder;}
.label_2{margin-right: 260px;font-weight: bolder;}
.label_3{margin-right:335px; font-weight: bolder;}
.label_4{margin-right: 350px; font-weight: bolder;}